{% extends "base.html" %}

{% block content %}
<div class="container">
    <!-- Profile Section -->
    <section class="profile-section">
        <img src="https://r2.guns.lol/e6754fd4-726b-4494-b122-4a1ba5df1678.webp" alt="Аватар" class="avatar">
        <h1 class="username">modera</h1>
        <p class="status">Я есть Альфа, но ищу свою единственную Омегу: начало и конец ∧∧</p>
        
        <!-- Social Icons -->
        <div class="social-icons">
            <a href="https://t.me/FlyFlyFlyFlyFlyFlyFlyFlyFly" target="_blank" class="social-icon">
                <i class="fab fa-telegram"></i>
            </a>
        </div>
        

    </section>
    

</div>


{% endblock %}
